.main-container{
    margin-top: 5px;
    margin-left: 225px;
    margin-right: -10px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    border: 5px;
    border-color: #3873b6;
    border-radius:5px;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

